/* Typing.css */
.typing-container {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: rgb(251, 251, 251); /* Set the text color to white or another color that contrasts with your background */
    overflow: hidden;
  }
  
  /* Typing.css */
  .mobile-typing-text {
    display: flex;
    flex-direction: column; /* Display lines vertically */
    align-items: center; /* Center each line horizontally */
    gap: 1rem; /* Adjust the gap between lines as needed */
    width: 350px; /* Set the desired width */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  }
  
  @keyframes scrollText {
    to {
      transform: translateY(-20%); /* Move off-screen upwards */
    }
  }
  .typed-cursor {
    -webkit-animation: blinker 1s linear infinite;
            animation: blinker 1s linear infinite;
  }
  
  @-webkit-keyframes blinker {
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  
  @keyframes blinker {
    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
  }
  